<!-- cs four image component -->
<section class="cs-four-across">
  <div class="cs-flex cs-justify-between page-width">
    <div class="cs-item"><img src="{{image-left.url}}" alt="{{image-left.alt}}"/></div>
    <div class="cs-item"><img src="{{image-middle-left.url}}" alt="{{image-middle-left.alt}}"/></div>
    <div class="cs-item"><img src="{{image-middle-right.url}}" alt="{{image-middle-right.alt}}"/></div>
    <div class="cs-item"><img src="{{image-right.url}}" alt="{{image-right.alt}}"/></div>
  </div>
</section>
