<!-- cs four image component -->
<section class="cs-four-across">
  <div class="cs-flex cs-justify-between page-width">
    <div class="cs-item"><img src="{{COMPONENT.image-left-url}}" alt="{{COMPONENT.image-left-alt}}"/></div>
    <div class="cs-item"><img src="{{COMPONENT.image-middle-left-url}}" alt="{{COMPONENT.image-middle-left-alt}}"/></div>
    <div class="cs-item"><img src="{{COMPONENT.image-middle-right-url}}" alt="{{COMPONENT.image-middle-right-alt}}"/></div>
    <div class="cs-item"><img src="{{COMPONENT.image-right-url}}" alt="{{COMPONENT.image-right-alt}}"/></div>
  </div>
</section>
