<!-- cs overview component -->
<section>
  <div class="page-width">
    <div class="cs-grow-3 cs-justify-between">
      <h1 class="cs-pad-sides">{{COMPONENT.heading}}</h1>
      <div class="cs-flex cs-flex-row">
        <div class="cs-grow-1 cs-pad-sides">
          <h4>{{COMPONENT.left-side-subheading}}</h4>
          <p>{{COMPONENT.left-side-text}}</p>
        </div>
        <div class="cs-grow-1 cs-pad-sides">
          <h4>{{COMPONENT.right-side-subheading}}</h4>
          <p>{{COMPONENT.right-side-text}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
