<!-- cs three text component -->
<section class="cs-three-across">
  <div class="cs-flex cs-justify-between page-width">
    <div class="cs-item cs-center-text">
      <h2>{{COMPONENT.text-left-subheading}}</h2>
      <p>{{COMPONENT.text-left-text}}</p>
    </div>
    <div class="cs-item cs-center-text">
      <h2>{{COMPONENT.text-middle-subheading}}</h2>
      <p>{{COMPONENT.text-middle-text}}</p>
    </div>
    <div class="cs-item cs-center-text">
      <h2>{{COMPONENT.text-right-subheading}}</h2>
      <p>{{COMPONENT.text-right-text}}</p>
    </div>
  </div>
</section>
